<ion-view view-title="Historypin">
<ion-content class="dashboard">
<div class="row">
	<div class="col">
		<a class="button button-clear button-block button-dark" href="#/map"><i class="icon ion-android-map"> Map</i></a>
	</div>
	<div class="col">
		<a class="button button-clear button-block button-dark" href="#/collections"><i class="icon ion-images"> Collections</i></a>
	</div>
	<div class="col">
		<a class="button button-clear button-block button-dark" href="#/tours"><i class="icon ion-map"> Tours</i></a>
	</div>
</div>
<div class="row">
	<div class="col">
		<a class="button button-clear button-block button-dark" href="#/people"><i class="icon ion-person-stalker"> People</i></a>
	</div>
	<div class="col">
		<a class="button button-clear button-block button-dark" href="#/account"><i class="icon ion-person"> My Profile</i></a>
	</div>
	<div class="col">
		<a class="button button-clear button-block button-dark" href="#/upload"><i class="icon ion-android-pin"> Add a Pin</i></a>
	</div>
</div>
<div class="row">
	<div class="col">
		<a class="button button-clear button-block button-dark" href="#/about"><i class="icon ion-earth"> About</i></a>
	</div>
	<div class="col">
		<a class="button button-clear button-block button-dark" href="#/community"><i class="icon ion-ios-people"> Community</i></a>
	</div>
	<div class="col">
		<a class="button button-clear button-block button-dark" href="#/help"><i class="icon ion-help-circled"> Help</i></a>
	</div>
</div>

</ion-content>
<div class="bar bar-footer">
  <a class="button button-clear button-assertive pull-right" href="#/login">Log in</a>
</div>
</ion-view>
