<ion-view view-title="Add a pin">
	<ion-content>
			<div class="list">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Caption</span>
					<input type="text" placeholder="">
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Description</span>
					<textarea type="text" placeholder="What is the story?"></textarea>
				</label>
				<label class="item item-input item-stacked-label">
					<span class="input-label">When was this taken?</span>
					<input type="text" placeholder="1920">
				</label>
				<div class="padding-horizontal"><a class="button button-block button-assertive">Lets go!</a></div>
			</div>
	</ion-content>
</ion-view>